@import url('http://fonts.cdnfonts.com/css/gotham');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
:root{
    --grey:#565862;
    --red:#d50808;
    --white:#fff;
    --f-g:'Gotham', sans-serif;
    --f-gb: 'Gotham Black', sans-serif;
}
body{
    background-color: black;
}
header,section,footer{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.top-bar{
    /* background-color: lightcoral; */
    height: 35px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 15px;
    align-items: flex-end;
}
.top-bar a {
    color: #fff;
    margin-right: 45px;
}
.top-bar .fa-plus {
    color: #d50808;
}
.main-menu{
    /* background-color: lightblue; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu .logo{
    padding-left: 20px;
}
.main-menu nav {
    margin-right: 20px;
    /* margin-left: 30px; */
    padding-top: 50px;
}
nav ul li{
    display: inline-block;
    padding-inline: 25px;   
}
nav ul li a{
    color: #565862;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gotham', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: color .5s ease-in;
}
nav ul li a:hover{
    color: #fff;
}
.top-banner{
    background-image: url(../img/HOMEPAGE-BANNER.png);
    background-size: contain;
    background-position: center;
    height: 400px;
}
.main .container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-grid .col-8{
    height: 1000px;
    background-color: lightseagreen;
}
.container-grid .col-4{
    height: 1000px;
    /* background-color: lightslategray; */
}
.fitness-diet{
    background-image: url(../img/FITNESS-DIET.png);
    height: 280px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: grayscale();
    transition: all 1s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.fitness-diet h4{
    font-family: 'Gotham Black';
    color: #fff;
    font-size: 25px;
  }
.fitness-diet:hover{
    filter: none;
}
.social-icons{
    display: flex;
    gap: 10px;   
    justify-content: center; 
}
.social-icons i{
  font-size: 250px;
  color: #565862;
}
.book-now{
    padding: 15px 20px;
}
.book-now :is(h4,h5){
    font-family: var(--f-gb);
    /* font-size: 20px; */
    color:#fff;
}
.book-now h5 {
    margin-bottom: 15px;
  }
  .book-now h4 {
    margin-bottom: 15px;
  }
.book-now span{
    color: var(--red);
}
.book-now p{
    color: var(--white);
    margin-bottom: 15px;
    padding-right: 20px;
    font-family: var(--f-g);
}
.book-now a{
    color: var(--red);
    margin-bottom: 15px;
    font-family: var(--f-g);
    font-weight:400;
}
footer{
    background-color: lightsalmon;
    height: 400px;
}