@import url('http://fonts.cdnfonts.com/css/gotham');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    outline: none;
}
body{
    background-color: black;
}
header,section,footer{
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
}
.top-bar{
    /* background-color: lightcoral; */
    height: 35px;
    display: flex;
    justify-content: flex-end;
    font-family: 'Gotham', sans-serif;
    font-weight: 500;
    font-size: 15px;
    align-items: center;
}
.top-bar a {
    color: #fff;
    margin-right: 20px;
}
.main-menu{
    /* background-color: lightblue; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.main-menu .logo{
    padding-left: 20px;
}
.main-menu nav {
    margin-right: 20px;
    /* margin-left: 30px; */
    padding-top: 50px;
}
nav ul li{
    display: inline-block;
    padding-inline: 25px;   
}
nav ul li a{
    color: #565862;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-family: 'Gotham Ultra', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.top-banner{
    border-bottom: 3px solid lightgreen;    
    height: 400px;
}
.main .container-grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}
.container-grid .col-8{
height: 1000px;
background-color: lightseagreen;
}
.container-grid .col-4{
height: 1000px;
background-color: lightslategray;
}
footer{
    background-color: lightsalmon;
    height: 400px;
}